@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root{
  --white : #fdfdfd;
  --background : #0E121B;
  --black : #1a1a1a;
  --gray : #535866;
  --border : #e2e3e8;
}

body{
  background-color: var(--background);
}

#bg {
  background: var(--background);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* I'll be using the mobile first approach */
  .card{
    background-color: var(--white);
    border-radius: 15px;
    width: 90%;
    height: 60%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
      width: 100%;
      height: 100%;

      .card-top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .settings{
          position: relative;

          .gear{
            font-size: 1.2rem;
            color: var(--gray);
            cursor: pointer;
            padding: 10px;
            background-color: transparent;
            border: 1px solid var(--border);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
              background-color: #f5f5f5;
              color: var(--black);
              border: 1px solid transparent;
              transition: all ease-in-out 0.3s;
            }

            &:focus{
              border: 1px solid var(--black);
            }
          }

          .popup{
            position: absolute;
            right: 0;
            top: 50px;
            background-color: var(--white);
            border: var(--border) 1px solid;
            padding: 15px;
            border-radius: 10px;
            width: 230px;
            box-shadow: rgba(163, 163, 163, 0.2) 0px 2px 8px 0px;

            section:last-child{
              margin-top: 20px;
            }

            section h4{
              font-weight: 600;
              margin-bottom: 7px;
              color: var(--black);
            }
            .switch{
              background-color: #F5F7FA;
              padding: 3px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              gap: 5px;

              button{
                width: 50%;
                padding: 6px 0px;
                background: transparent;
                color: #99A0AE;
                border: none;
                outline: none;
                border-radius: 3px;
                transition: all ease-in-out 0.3s;
              }
              .active{
                background-color: var(--white);
                color: #0E121B;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
              }
            }
          }
        }
      }
    }
  }
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#cccccc 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}